body{
  margin:0;

  background:linear-gradient(
    180deg,
    #fffaf5 0%,
    #fff3e6 50%,
    #ffe8d6 100%
  );
}

.header{
  background-color:#f5c9a6;
  padding:20px;
  color:#5c4033;
  
  display:flex;

  justify-content:space-between;

  align-items:center;
}
.logo{
  font-size:60px;

  color:#5c4033;

  font-weight:bold;
}

.header-buttons{
  display:flex;

  gap:20px;
}

.header-btn{
  background:white;

  color:#5c4033;

  text-decoration:none;

  padding:15px 30px;

  border-radius:10px;

  font-size:24px;

  font-weight:bold;

  transition:0.3s;
}

.header-btn:hover{
  background:#ffe8d6;
}
.pets-area{
  display:flex;
  flex-direction: column;
  flex-wrap:wrap;
  gap:30px;
  padding:30px;
}
.pet-card{
  display:flex;

  gap:50px;

  align-items:flex-start;
  margin-bottom:50px;
    position:relative;
}

/* 左 */

.left-area{
  width:600px;
}

/* 画像 */

.pet-image{
  width:500px;

  height:300px;

  object-fit:cover;

  border-radius:10px;
    display:block;
}
.rank-badge{
  position:absolute;

  top:20px;

  left:20px;

  background:#ffcc00;

  color:white;

  font-size:28px;

  font-weight:bold;

  padding:10px 20px;

  border-radius:50px;

  z-index:10;

  box-shadow:0 4px 10px rgba(0,0,0,0.2);
}
/* 右 */

.info-area{
  width:500px;

  background:white;

  padding:30px;

  border-radius:10px;
}

/* タイトル */

.pet-title{
  font-size:50px;

  margin-bottom:20px;
}

/* 説明 */

.pet-description{
  font-size:28px;

  margin-bottom:30px;
}

/* いいね */

.favorite-count{
  font-size:36px;

  color:#ff5c7c;

  font-weight:bold;

  margin-bottom:30px;
}

/* コメント欄 */

.comment-area{
  background:#f7f7f7;

  padding:20px;

  border-radius:10px;

  max-height:250px;

  overflow-y:auto;
}

.comment-item{
  font-size:24px;

  margin-bottom:15px;
}